/********** Global styles **********/
body {
    font-family: 'Nanum Gothic', sans-serif;
}

h2 {
    font-weight: bold;
}

.horizontal-line {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #000;
    width: 80%;
    max-width: 600px;
}

.btn-width-standard {
    width: 240px;
}

/* Sets max width to 700px */
.max-width-700 {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

/* Allows heading text to be centered and adds bottom margin */
.heading-center {
    margin: 0 auto 45px auto;
}

/********** Navbar/ header **********/
/* Position header/navbar in front of the hero image */
header {
    z-index: 1;
    position: absolute;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
}

nav a, nav span, .wrapper span{
    color: #fff !important;
}

.wrapper span{
    font-size: 1.5em;
    font-family: 'Rancho', cursive;
}

/* Align icon in navbar */
.navbar-brand img {
    vertical-align: sub;
}

.nav-link:hover {
    color: #aef0e0 !important;
    text-decoration: underline;
}

/********** Hero Section **********/
.hero-wrapper {
    position: relative;
}

/* position text in center of the hero image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Rancho', cursive;
    font-size: 5em !important;
}

/********** Main Section **********/
.main-wrapper {
    background: white;
    max-width: 800px;
    margin: auto;
    margin-top: -50px;
    padding-top: 50px;
    color: #000;
}

.main-wrapper p, .main-wrapper h2, .main-wrapper h4 {
    padding: 0 50px;
}

/********** Welcome Section **********/
.welcome {
    margin-top: 70px;
}

/********** Facilities Section **********/
.facilities p {
    margin-top: 20px;
}

/********** Review Section **********/

/********** Fill in arrow indicators in white **********/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    margin-right: 50%;
}

/********** Fill in arrow indicators in white **********/
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    margin-left: 50%;
}

/********** Sets a height for the carousel **********/
.carousel-inner {
    height: 300px;
}

/********** Stops text from being covered by the arrow indicators of the carousel **********/
.carousel-item {
    padding-right: 50px;
}

/********** Big quotes from https://stackoverflow.com/questions/27426045/big-quotation-marks-styled-in-html-css/27426944 **********/
blockquote {
    border:none;
    margin-bottom:-30px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote h5 {
    font-size:21px;
}

blockquote h5:before { 
    font-family:Georgia, "Times New Roman", Times, serif;
    content: open-quote;
    font-weight: bold;
    font-size:100px;
}

blockquote p {
    margin-top: 50px;
    padding: 0 !important;
}

/********** Contact Section **********/
.form-control:focus {
    border-color: #7e4af3b3;
    box-shadow: 0px 1px 1px rgba(126, 94, 94, 0.18) inset, 0px 0px 5px rgba(0, 93, 255, 0.49);
}

/********** Footer Section **********/
footer {
    margin-bottom: -30px;
    background-color: #1d1d1d;
    color: #FFF;
}

footer .row {
    max-width: 1000px;
    margin: auto;
}

footer p {
    text-decoration: underline;
}

footer .horizontal-line {
    border-top: 1px solid #FFF;
}

/********** Social media buttons/links **********/
.fa {
    padding: 10px;
    font-size: 25px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #e1306c;
    color: white;
}

.fa-envelope {
    background: #dd4b39;
    color: white;
}

footer a:hover {
    color: #000;
    text-decoration: none;
}

@media (max-width: 767px) {
    /********** Darken navbar background on smaller screens **********/
    .navbar {
        background-color: #000000e6 !important;
        text-align: center;
    }
    /********** Fix navbar at top of screen for smaller screens **********/
    .navbar-fixed-top-sm {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

@media (max-width: 550px) {
    /********** Sets height for carousel on extra small devices **********/
    .carousel .carousel-inner {
        height: 500px;
    }
}
