/********** Global styles **********/
body {
    font-family: 'Nanum Gothic', sans-serif;
}

/********** Navbar/ header **********/
/* Position header/navbar in front of the hero image */
header {
    z-index: 1;
    position: absolute;
}

nav a, nav span, wrapper span{
    color: #fff !important;
}

.wrapper {
    font-size: 1.8em;
    font-family: 'Rancho', cursive;
}

/* Align icon in navbar */
.navbar-brand img {
    vertical-align: sub;
}

/********** Main Section **********/
.hero-wrapper {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Rancho', cursive;
    font-size: 5em !important;
}

@media (max-width: 768px) {
    /* Darken navbar on smaller screens */
    .navbar {
        background-color: #444 !important;
        text-align: center;
    }
    
    /* Position hero image under navbar for smaller screens */
    .hero-img {
        position: absolute;
        top: 70px;
    }
}